.chat__body .header__header-column {
  /* flex: 1; */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  display: flex;
  justify-content: center;
}
.chat__body .header__header-column:first-child {
  display: flex;
  justify-content: flex-start;
}
.chat__body .header__header-column:last-child {
  display: flex;
  justify-content: flex-end;
}

.chat__body {
  /* background-color: #abc1d1; */
  background-image: url("../images/chatBg.png");
}
.chat__body .fixed-row {
  position: fixed;
  width: 100%;
  background-color: rgba(167, 193, 209, 0.98);
}

.chat-screen .message__avatar {
  width: 50px;
  height: 50px;
  border-radius: 38%;
}

.chat-screen .chat__messages {
  padding-top: 15px;
}

.chat-screen .message {
  display: flex;
  margin-bottom: 20px;
}
.chat-screen .outgoing-message {
  display: flex;
  justify-content: flex-end;
}

.chat-screen .message__content {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.chat-screen .message__bubble {
  width: fit-content;
  margin-top: 10px;
  padding: 15px 15px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}
.chat-screen .outgoing-message .message__bubble {
  background-color: #fde500;
}
.chat-screen .message__timestamp {
  font-size: 15px;
  padding-left: 10px;
  display: flex;
  align-items: flex-end;
}

.chat__write--container {
  position: fixed;
  bottom: 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.chat__write {
  bottom: 0px;
  width: 100%;
  padding: 15px 60px;
  border: none;
  font-size: 20px;
}

.chat__icon-left {
  position: absolute;
}

.chat__icon-right {
  position: absolute;
  right: 10px;
}

.chat__icon {
  font-size: 25px;
  transition: opacity 0.3s ease-in-out;
}

.chat__write:focus ~ .chat__icon {
  opacity: 0;
}
