.chat__body .header__header-column {
  /* flex: 1; */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  display: flex;
  justify-content: center;
}
.chat__body .header__header-column:first-child {
  display: flex;
  justify-content: flex-start;
}
.chat__body .header__header-column:last-child {
  display: flex;
  justify-content: flex-end;
}

.chat__body {
  background-color: #abc1d1;
  /* background-image: url("../images/chatBg.png"); */
}
.chat__body .fixed-row {
  position: fixed;
  width: 100%;
  background-color: rgba(167, 193, 209, 0.98);
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotateY(1turn);
  }
}
.chat-screen .message__avatar {
  width: 50px;
  height: 50px;
  border-radius: 38%;
  animation: spin 1s linear infinite;
}

.chat-screen .chat__messages {
  padding-top: 15px;
}

.chat-screen .message {
  display: flex;
  margin-bottom: 20px;
}
.chat-screen .outgoing-message {
  display: flex;
  justify-content: flex-end;
}

.chat-screen .message__content {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.chat-screen .message__bubble {
  width: fit-content;
  margin-top: 10px;
  padding: 15px 15px;
  background-color: #ffffff;
  border-radius: 20px;
  /* box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025); */
}
.chat-screen .outgoing-message .message__bubble {
  background-color: #fde500;
}
.chat-screen .message__timestamp {
  font-size: 15px;
  padding-left: 10px;
  display: flex;
  align-items: flex-end;
}

.chat__write--container {
  position: fixed;
  bottom: 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.chat__icon-left {
  position: absolute;
  left: 10px;
}

.chat__icon-right {
  position: absolute;
  right: 10px;
}

@keyframes float {
  0% {
    box-shadow: 0 13px 27px 3px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
  50% {
    box-shadow: 0 13px 27px -60px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
  100% {
    box-shadow: 0 13px 27px 3px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  }
}

.chat__write {
  bottom: 0px;
  width: 100%;
  padding: 15px 60px;
  border: none;
  margin: 0 auto; /*elements를 가운데로 위치시키기 위해서는 left, right margin을 auto로 하면 된다.*/
  font-size: 20px;
  transition: width 0.5s ease-in, border-radius 0.5s ease-in,
    box-shadow 0.5s ease-in, transform 0.5s ease-in-out;
  animation: float 3s linear infinite forwards;
}

.chat__write:focus {
  outline: none;
  width: 80%;
  transform: translateY(-50px);
  border-radius: 40px;
  box-shadow: 0 13px 27px 3px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.chat__icon {
  font-size: 25px;
  transition: opacity 0.3s ease-in-out;
}

/*sibling selector(~)를 사용하기 위해서는 input 다음에 div 태그를 사용해야 한다.*/
.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

@keyframes incomingAnimation {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.incoming-message {
  animation: incomingAnimation 0.5s ease-out forwards; /*forwards는 이게 끝난 뒤에서 value를 유지시키는 것이다.*/
}
@keyframes outgoingAnimation {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.outgoing-message {
  animation: outgoingAnimation 0.5s ease-out forwards;
}
