.header {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  margin-bottom: 20px;
}
.header .header__header-column {
  display: flex;
  justify-content: space-between;
}
.header .header__title {
  font-weight: 400;
}
.header .header__icon {
  font-size: 28px;
  margin-left: 15px;
  cursor: pointer;
}
.header .header__header-column {
  display: flex;
}
