.nav {
  background-color: #f9f9fa;
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 0px;
  padding: 20px 50px;
  border-top: 1px solid #dfdfe0;
}
.nav .nav__list {
  display: flex;
  justify-content: space-between;
}
.nav i {
  font-size: 28px;
  color: #2f353e;
}
.nav .nav__list-link {
  position: relative;
}
.nav .nav__badge {
  position: absolute;
  color: #fde6dd;
  background-color: #f56129;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -15px;
  right: -15px;
}
