.status-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  font-weight: 600;
  font-size: 15px;
}

.status-bar i {
  font-size: 20px;
  margin-left: 5px;
}

.status-bar .status-bar__battery {
  margin-left: 5px;
}
