@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;300;400;500;600;700;&display=swap");
@import "reset.css";
@import "status-bar.css";
@import "header.css";
@import "nav-bar.css";
@import "friend.css";
@import "friends.css";
@import "find.css";
@import "more.css";
@import "settings.css";
@import "chat.css";

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  /* padding: 10px 25px; */
  color: #222222;
  font-family: "Gothic A1", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding-top: 100px;
  padding-bottom: 70px;
}
main {
  padding: 10px 25px;
}
a {
  color: inherit;
  text-decoration: none;
}
.fixed-row {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2; /*header wraper가 가장 위로 오게 설정*/
}
